html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-touch-callout: none;
}

body {
    display: block;
    background-color: #1f1f1f;
    counter-reset: score;
}

.header {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    min-height: 10%;
    background-color: #4000ff;
    color: white;
    text-align: center;
}

.title {
    height: 100px;
    display: block;
    margin: 0 auto;
    font-family: defaultFont;
    font-size: 35pt;
    line-height: 100px;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}

.left-column {
    position: fixed;
    left: 0;
    top: 100px;
    background-color: #2f2f2f;
    height: 100%;
    width: 20%;
}
.right-column {
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #2f2f2f;
    height: 100%;
    width: 20%;
}
.main-column {
    position: fixed;
    left: 20%;
    right: 20%;
    display: block;
    top: 100px;
    padding: 40px;
    border: 1px solid red;
    height: calc(100% - 182px);
    cursor:url("../src/trident.png"), auto;
}
.map {
    height: 100%;
    width: 100%;
    background-image: url("../src/bg_beach.png");
    background-size: 100% 100%;
}
.leftbutton{
    background: url("../src/conch-left.png") no-repeat;
    cursor: pointer;
    border: none;
    width: 500px;
    height: 100px;
}
.rightbutton{
    background: url("../src/conch-right.png") no-repeat;
    cursor: pointer;
    border: none;
    width: 500px;
    height: 100px;
}

.entry-title {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20pt;
    font-family: defaultFont;
}
@font-face {
    font-family: defaultFont;
    src: url("MyriadPro-Bold.otf");
}

/* Scoring System */

.total-score {
    color: white;
    font-family: defaultFont;
    letter-spacing: 1px;
    text-align: center;
    position: fixed;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.total-score:after {
    content: counter(score);
}

.score-counter:checked {
    counter-increment:score;
}

.narwhal {
    background-image: url("../src/narwhal.gif");
    background-size: contain;
    height: 150px;
    width: 220px;
}

/* Enemy Aesthetics */

.input-narwhal:checked ~ div label[for="enemy-label1"],
.input-crab:checked ~ label[for="enemy-label2"],
.input-turtle:checked ~ label[for="enemy-label3"],
.input-seahorse:checked ~ label[for="enemy-label4"],
.input-seahorse2:checked ~ label[for="enemy-label5"],
.input-seagull:checked ~ label[for="enemy-label6"],
.input-octopus:checked ~ label[for="enemy-label7"],
.input-jellyfish:checked ~ label[for="enemy-label8"] {
    visibility: hidden;
}

label {
    position: absolute;
    cursor:url("../src/trident.png"), auto;
}

.crab span {
    background-image: url("../src/crab.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 50px;
    width: 75px;
    position: fixed;
}

.turtle span{
    background-image: url("../src/turtle.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 50px;
    width: 75px;
    position: fixed;
}

.seahorse {
    background-image: url("../src/seahorse.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 70px;
    width: 55px;
    position: fixed;
}

.seahorse2 {
    background-image: url("../src/seahorse2.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 70px;
    width: 55px;
    position: fixed;
}

.seagull {
    background-image: url("../src/seagull.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 50px;
    width: 50px;
    position: fixed;
}

.octopus {
    background-image: url("../src/octopus.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 60px;
    width: 75px;
    position: fixed;
}

.jellyfish {
    background-image: url("../src/jellyfish.gif");
    background-size: contain;
    /* border: 1px solid red; */
    height: 70px;
    width: 100px;
    position: fixed;
}

.score-counter {
    position: fixed;
    top: -20px;
    left: -20px;
}


.move, .enarwhal {
    animation:boss_move 2s linear infinite;
}
.move {
    position: fixed;
    top: 55%;
    left: 65%;
}

.ecrab {
    position: fixed;
    top: 250px;
    left: 50%;
    animation:slide4 4s linear infinite;
}

.eturtle {
    position: fixed;
    top: 250px;
    left: 40%;
    animation:slide2 4s linear infinite;
}

.eseahorse {
    position: fixed;
    top: 275px;
    left: 61%;
    animation:slide1 6s linear infinite;
}

.eseahorse2 {
    position: fixed;
    top: 85%;
    left: 50%;
    animation:slide2 4s linear infinite;
}

.eseagull {
    position: fixed;
    top: 275px;
    left: 29%;
    animation:slide1 6s linear infinite;
}

.eoctopus {
    position: fixed;
    top: 30%;
    left: 70%;
    animation:slide1 2s linear infinite;
}

.ejellyfish {
    position: fixed;
    top: 600px;
    left: 50%;
    animation:slide3 2s linear infinite;
}

@keyframes slide1 {
    50% {
        -webkit-transform: translate(0,10em);
        -moz-transform: translate(0,10em);
        -o-transform: translate(0,10em);
        -ms-transform: translate(0,10em);
        transform: translate(0,10em);
    }
}

@keyframes slide2 {
    50% {
        -webkit-transform: translate(10em,0);
        -moz-transform: translate(10em,0);
        -o-transform: translate(10em,0);
        -ms-transform: translate(10em,0);
        transform: translate(10em,0);
    }
}

@keyframes slide3 {
    50% {
        -webkit-transform: translate(10em,10em);
        -moz-transform: translate(10em,10em);
        -o-transform: translate(10em,10em);
        -ms-transform: translate(10em,10em);
        transform: translate(10em,10em);
    }
}

@keyframes slide4 {
    50% {
        -webkit-transform: translate(-30em,30em);
        -moz-transform: translate(-30em,30em);
        -o-transform: translate(-30em,30em);
        -ms-transform: translate(-30em,30em);
        transform: translate(-20em,20em);
    }
}

@keyframes boss_move {
    50%{
      transform:rotateZ(180deg);
    }
}
