/* Layout Theme Colors */
body {
    background-color: #545151;
}

.header {
    background-color: #e5cc8e;
    color: #545151;
}

.left-column {
    background-color: #45b7cf;
}

.right-column {
    background-color: #45b7cf;
}
.main-column {
    cursor:url("../src/trident.png"), auto;
}
.map {
    background-image: url("../src/bg_beach.png");
}
.leftbutton{
    background: url("../src/conch-left.png") no-repeat;
}
.rightbutton{
    background: url("../src/conch-right.png") no-repeat;
}
/* Enemy Aesthetics */
.narwhal {
    background-image: url("../src/narwhal.gif");
    background-size: contain;
    height: 150px;
    width: 220px;
}
label {
    position: absolute;
    cursor:url("../src/trident.png"), auto;
}

.crab span, .turtle span, .seahorse, .seahorse2, .seagull, .octopus, .jellyfish{
    background-size: contain;
    height: 50px;
    width: 75px;
    position: fixed;
}

.crab span {
    background-image: url("../src/crab.gif");   
}
.turtle span{
    background-image: url("../src/turtle.gif");
}
.seahorse {
    background-image: url("../src/seahorse.gif");
    height: 70px;
    width: 55px;
}
.seahorse2 {
    background-image: url("../src/seahorse2.gif");
    height: 70px;
    width: 55px;
}
.seagull {
    background-image: url("../src/seagull.gif");
    height: 50px;
    width: 50px;
}
.octopus {
    background-image: url("../src/octopus.gif");
    height: 60px;
    width: 75px;
}
.jellyfish {
    background-image: url("../src/jellyfish.gif");
    height: 70px;
    width: 100px;
}

/* Enemy Functionality */

.input-narwhal:checked ~ div label[for="enemy-label1"],
.input-crab:checked ~ label[for="enemy-label2"],
.input-turtle:checked ~ label[for="enemy-label3"],
.input-seahorse:checked ~ label[for="enemy-label4"],
.input-seahorse2:checked ~ label[for="enemy-label5"],
.input-seagull:checked ~ label[for="enemy-label6"],
.input-octopus:checked ~ label[for="enemy-label7"],
.input-jellyfish:checked ~ label[for="enemy-label8"] {
    visibility: hidden;
}

.move, .enarwhal {
    animation:boss_move 2s linear infinite;
}
.move {
    position: fixed;
    top: 55%;
    left: 65%;
}

.ecrab {
    position: fixed;
    top: 250px;
    left: 50%;
    animation:slide4 4s linear infinite;
}

.eturtle {
    position: fixed;
    top: 250px;
    left: 40%;
    animation:slide2 4s linear infinite;
}

.eseahorse {
    position: fixed;
    top: 275px;
    left: 61%;
    animation:slide1 6s linear infinite;
}

.eseahorse2 {
    position: fixed;
    top: 85%;
    left: 50%;
    animation:slide2 4s linear infinite;
}

.eseagull {
    position: fixed;
    top: 275px;
    left: 29%;
    animation:slide1 6s linear infinite;
}

.eoctopus {
    position: fixed;
    top: 30%;
    left: 70%;
    animation:slide1 2s linear infinite;
}

.ejellyfish {
    position: fixed;
    top: 600px;
    left: 50%;
    animation:slide3 2s linear infinite;
}

@keyframes slide1 {
    50% {
        -webkit-transform: translate(0,10em);
        -moz-transform: translate(0,10em);
        -o-transform: translate(0,10em);
        -ms-transform: translate(0,10em);
        transform: translate(0,10em);
    }
}

@keyframes slide2 {
    50% {
        -webkit-transform: translate(10em,0);
        -moz-transform: translate(10em,0);
        -o-transform: translate(10em,0);
        -ms-transform: translate(10em,0);
        transform: translate(10em,0);
    }
}

@keyframes slide3 {
    50% {
        -webkit-transform: translate(10em,10em);
        -moz-transform: translate(10em,10em);
        -o-transform: translate(10em,10em);
        -ms-transform: translate(10em,10em);
        transform: translate(10em,10em);
    }
}

@keyframes slide4 {
    50% {
        -webkit-transform: translate(-30em,30em);
        -moz-transform: translate(-30em,30em);
        -o-transform: translate(-30em,30em);
        -ms-transform: translate(-30em,30em);
        transform: translate(-20em,20em);
    }
}

@keyframes boss_move {
    50%{
      transform:rotateZ(180deg);
    }
}
