html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-touch-callout: none;
}

body {
    display: block;
    background-color: #1f1f1f;
    counter-reset: score;
}

.header {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    min-height: 10%;
    background-color: #4000ff;
    color: white;
    text-align: center;
}

.title {
    height: 100px;
    display: block;
    margin: 0 auto;
    font-family: defaultFont;
    font-size: 35pt;
    line-height: 100px;
    transform:scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}

.left-column {
    position: fixed;
    left: 0;
    top: 100px;
    background-color: #2f2f2f;
    height: 100%;
    width: 20%;
}
.right-column {
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #2f2f2f;
    height: 100%;
    width: 20%;
}
.main-column {
    position: fixed;
    left: 20%;
    right: 20%;
    display: block;
    top: 100px;
    padding: 40px;
    height: calc(100% - 182px);
    cursor:url("../src/cursor.png"), auto; /* new cursor sword added to src folder, this code a lot short than what we had */
}
.map {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}
.leftbutton, .rightbutton {
    cursor: pointer;
    border: none;
    width: 500px;
    height: 100px;
}
.entry-title {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20pt;
    font-family: defaultFont;
}
@font-face {
    font-family: defaultFont;
    src: url("../src/MyriadPro-Bold.otf");
}

/* Scoring System */

.total-score {
    color: white;
    font-family: defaultFont;
    letter-spacing: 1px;
    text-align: center;
    position: fixed;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.total-score:after {
    content: counter(score);
}

.score-counter:checked {
    counter-increment:score;
}

.score-counter {
    position: fixed;
    top: -20px;
    left: -20px;
}

@keyframes slide1 {
    50% {
        -webkit-transform: translate(0,10em);
        -moz-transform: translate(0,10em);
        -o-transform: translate(0,10em);
        -ms-transform: translate(0,10em);
        transform: translate(0,10em);
    }
}

@keyframes slide2 {
    50% {
        -webkit-transform: translate(10em,0);
        -moz-transform: translate(10em,0);
        -o-transform: translate(10em,0);
        -ms-transform: translate(10em,0);
        transform: translate(10em,0);
    }
}

@keyframes slide3 {
    50% {
        -webkit-transform: translate(10em,10em);
        -moz-transform: translate(10em,10em);
        -o-transform: translate(10em,10em);
        -ms-transform: translate(10em,10em);
        transform: translate(10em,10em);
    }
}

@keyframes slide4 {
    50% {
        -webkit-transform: translate(-40em,40em);
        -moz-transform: translate(-40em,40em);
        -o-transform: translate(-40em,40em);
        -ms-transform: translate(-40em,40em);
        transform: translate(-40em,40em);
    }
}

@keyframes boss_move {
    50%{
      transform:rotateZ(-360deg);
    }
}